@font-face {
  font-family: "lucinda_grande";
  src: url(../fonts/lucinda_grande.ttf) format("truetype");
}

@font-face {
  font-family: "helvetica_neue";
  src: url(../fonts/helvetica_neue.ttf) format("truetype");
}


/* Map layer - map, zoom group, buttons and hidden tooltip generator */

#map {
  overflow: hidden;
  position:relative;
}

#zoomgroup {
	pointer-events:all;
  overflow:hidden;
}


#tooltipGenerator {
	display:none;
}

/* D3 TOOLTIPS */

.d3-tip {
  line-height: 0;
  /*font-weight: bold;*/
  /*padding: 2px;*/
  padding:0px;
  /*background: rgba(0, 0, 0, 0.8);*/
  background: #3E4551;
  /*color: #fff;*/
  /*border-radius: 2px;*/
  border-radius: 80px;
}

/* STYLES */

/* remove border lines from arc slices  on tooltips and small pies*/
.slice {
  stroke: none;
  box-shadow:none;
}

/* Font on the arc centre on tooltips */
.tip-pie-hover-label, .tip-pie-hover-value {
  font-family: "helvetica_neue";
  font-weight:700;
  letter-spacing:1px;
}


/* Fonts on the region labels */
.region-text {
  font-family: "lucinda_grande";
}

/* Fonts on the bar char text */
.bar-chart-text {
   font-family: "lucinda_grande";
}

/* Fonts on the city labels */
.city-text {
  font-family : "lucinda_grande";
}

.segmentation_legend_text {
  font-family: "lucinda_grande";
}

/* TREEVIEW */
.list-group-item {
  padding: 5px;
}

/* INFORMATION PANEL AND SEGMENTATION LEGEND PANEL */
#informationPanel, #segmentationLegend {
  /*border: 1px solid #428bca;*/
  border-radius: 3px;
  margin-top:5px;
  padding:5px;
}

#segmentationLegend {
  display:none;
  margin-top:20px;
}


/* BAR CHARTS STYLINGS */

.axis path, .axis line {
  fill: none;
  stroke: #606060;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
  color: #606060;
  fill: #606060;
}


/* INPUTS */

input.number_range {
    padding: 5px 0 5px 10px;
    font-family: "lucinda_grande";
    font-weight:900;
    border-radius:5px;
    box-shadow: 1px 1px 0px #3E4551;
}

input.checkbox_input {
  width: 18px;
  height: 18px;
  position: relative;
  margin:auto;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

/* TREE CONTROL */

#graphs li {
  padding-right:25px;
}