/* Bolded areas */

.region-label {
  font-weight:bold;
}

.city-text {
  font-weight:bold;
}

/* Map layer - map, zoom group, buttons and hidden tooltip generator */

#map {
  overflow: hidden;
  position:relative;
}

#zoomgroup {
	pointer-events:all;
  overflow:hidden;
}

/* Buttons on the map */

#mapButtons {
  position:absolute;
  top: 1%;
  left: 1%;
}

#tooltipGenerator {
	display:block;
}

/* D3 TOOLTIPS */

.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  padding: 2px;
  background: rgba(0, 0, 0, 0.8);
  /*color: #fff;*/
  border-radius: 2px;
}

/* TREEVIEW */
.list-group-item {
  padding: 5px;
}

/* INFORMATION PANEL */
#informationPanel {
  border: 1px solid #428bca;
  border-radius: 3px;
  margin-top:5px;
  padding:5px;
}

