.region-label {
  font-weight:bold;
}

.city-text {
  font-weight:bold;
}

.overlay {
	fill:none;
	pointer-events:all;
}

/*#tooltipGenerator {
	display:none;
}*/

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 2px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

